[submodule "eta/tensorflow/models"]
	path = eta/tensorflow/models
	url = https://github.com/voxel51/models
    ignore = dirty
[submodule "eta/tensorflow/darkflow"]
	path = eta/tensorflow/darkflow
	url = https://github.com/voxel51/darkflow
    ignore = dirty
[submodule "eta/tensorflow/automl"]
	path = eta/tensorflow/automl
	url = https://github.com/voxel51/automl
    ignore = dirty
