
*.DS_store
**/*.DS_store
*.md5
**/*.md5
*.log
**/*.log

__pycache__
*.py[cod]

*.egg-info
.project
.pydevproject

/eta/models/**/*
!/eta/models/manifest.json

/config.json
/configs
/data
/docker/eta
/docs/*.tex
/docs/*.html
/docs/*.pdf
/examples/**/data
/examples/**/out
/external
/out
