
*.DS_store
**/*.DS_store
*.md5
**/*.md5
*.log
**/*.log
.idea
/dist/

__pycache__
*.py[cod]

*.egg-info
.project
.pydevproject

/eta/config.json
/eta/configs
/eta/examples/**/data
/eta/examples/**/out
/eta/models/**/*
!/eta/models/manifest.json
/eta/out

/build
/docs/*.tex
/docs/*.html
/docs/*.pdf
/external
/sphinx/build/
/sphinx/source/*.rst
!/sphinx/source/index.rst
!/sphinx/source/README.rst
