.DS_Store
*.md5
*.pyc

*.egg-info/

/external/
/examples/out/
# /eta/cache has no trailing '.' in case it is a sym-link to elsewhere
#  and not a directory
/eta/cache

/docs/*.tex

# IDE Specific excludes
.project
.pydevproject
